.container {
	width: 75%;
	margin: auto;
	border: 5px solid darkgrey;
	padding: 5px;
	text-align: justify;
	font-family: "Arial", sans-serif;
}

.header {
	text-align: center;
	font-weight: bold;
	background-color: dodgerblue;
	color: white ;
	margin-top: 0px;
}

.bar {
	height: 8px;
	background: dodgerblue;
	color: white;
	margin-top: 5px;
}

#fileupload {
	margin: auto;
	padding: 10px;
}

#percent {
	float: right;
	padding: 5px;
}

#progressBar {
	background-color: lightgrey;
	margin: auto;
}

#videoEmbed {
	width: 75%;
}